;; Create film table
{:up ["CREATE TABLE film (
       id uuid PRIMARY KEY,
       person_id uuid REFERENCES person (id),
       title varchar(250),
       studio varchar(250),
       release_year varchar(4)
       );"]
 :down ["DROP TABLE film;"]}
